<div class="container-fluid mt-5 dashboard">
  <div class="row">
    <div class="col-md-3">
      <fancy-card icon="home" title="Blogs" value="344"></fancy-card>
    </div>
    <div class="col-md-3">
      <fancy-card icon="home" title="Blogs" value="344"></fancy-card>
    </div>
    <div class="col-md-3">
      <fancy-card icon="home" title="Blogs" value="344"></fancy-card>
    </div>
    <div class="col-md-3">
      <fancy-card icon="home" title="Blogs" value="344"></fancy-card>
    </div>
  </div>
</div>
